@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10%;
    font-family: 'Roboto', sans-serif;
}

.btn {
    border-radius: 4px 4px 4px 4px;
    margin-top: 30px;
    background-color: white;
    border-width: 5px;
    color: black;
    margin: 5px;
    margin-top: 30px;
}

.value {
    font-size: 500%;
}
